{% extends "hq/base.html" %}
{% load i18n %}
{% load testers_tags %}

{% block title %}{% trans "Testers" %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.flot.js"></script>
{% endblock %}

{% block org_content %}
<h2>{%trans "Testers registered in the system"%}</h2>

<br>

<p><a href="/testers/add">{%trans "Add new tester" %}</a></p>

{% get_tester_with_counts user startdate enddate %}
{% endblock %}